// COLORS

$color-black: rgb(90, 89, 89);
$color-red : rgb(255, 44, 4);

$color-main : rgb(115, 33, 47);
$color-light : rgb(241, 239, 238);
$color-light-accent : lighten($color-main, 60%);
$color-dark-accent : rgb(120, 105, 128);
$color-dark-shades : rgb(43, 43, 61);

