// COLORS

$color-main : rgb(115, 33, 47);
$color-light : rgb(241, 239, 238);
$color-light-accent : lighten($color-main, 60%);
$color-dark-accent : rgb(120, 105, 128);
$color-dark-shades : rgb(43, 43, 61);
