.authentification {
    display :flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-dark-shades;
}

.authentification__titre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-dark-shades;
    & i{
        color: $color-light;
        color: $color-light;
        font-size: 5rem;
        margin-right: 1rem;
        
    }
    & h1 {
        font-size: 5rem;
        margin-left: 1rem;
        color: $color-light;
    }
}

.forms__container {
    max-width: 70%;
}

.formStyle{
    background-color: $color-light;
    margin: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 3px solid red;;
    & h2{
        margin: 1rem;
        color: $color-main;
        font-size: 2rem;
    }
    & form{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0px;
        & input {
            margin: 0.5rem;
            height: 2rem;
            font-size: 1rem;
            border: 1px solid $color-dark-accent;
            border-radius: 8px;
            &:hover{
                cursor: pointer;
                background-color: $color-light-accent;
                transition: 0.3s;
            }
        }
        & label {
            color : $color-dark-shades;
        }
        & .message-erreur{
            color: red;
            font-weight: bolder;
            margin: 0.2rem;
        }
        & .button-auth{
            background-color: $color-main;
            color: $color-light;
            font-size: 1.2rem;
            &:hover{
                cursor: pointer;
                transition: 0.3s;
                background-color: $color-dark-shades;
            }
        }
    }
}