.navigation{
    display : flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 3.5rem;
    background-color: $color-dark-shades;
    padding: .5rem 0 .5rem 0;
};

.navigation__logo{
    display: flex;
    align-items: center;
        & i{
            font-size: 1.5rem;
            color: $color-light;
            margin-right: 0.4rem;
        }
        & h1 {
            font-size: 1.5rem;
            margin-left: 0.4rem;
            color: $color-light;
        }
}

.navigation__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    & a {
        text-decoration: none;
        font-weight: 600;
        color: $color-light;
        padding: .8rem;
        margin: .1rem;
        &:hover{
            color: $color-dark-shades;
            background-color: $color-light-accent;
            border-radius: 2rem;
            }
    }
    .nav-active {
        color: $color-dark-shades;
        background-color: $color-light;
        border-radius: 2rem;
    }
}
